@charset "UTF-8";

/* Header */
.linear-gradient {
    background: linear-gradient(to right, #A9D6A5, #228B22);
}

/* Footer */
.animated-footer {
    background: linear-gradient(270deg, #e0f2dc, #32a852);
    background-size: 400% 400%;
    animation: gradientAnimation 30s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.text-primary {
    color: #32a852 !important;
}

.bg-primary {
    background-color: #32a852 !important;
}

.btn-primary {
    background-color: #32a852 !important;
    border-color: black;
}

.btn-primary:hover {
    border-color: black;
}

/* Hover animation for cards */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.toggle-icon {
    cursor: pointer;
    transition: transform 0.3s ease;
    display: inline-block;
    font-size: 1.2rem;
    margin-top: 0.5rem;
}
.toggle-icon i {
    transition: transform 0.3s ease;
    transform-origin: center center;
    display: inline-block;
}
.toggle-icon.rotate i {
    transform: rotate(180deg);
}
