@charset "UTF-8";
.linear-gradient {
    background: linear-gradient(to right, #A9D6A5, #228B22);
}
.animated-header {
    background: linear-gradient(270deg, #e0f2dc, #32a852);
    background-size: 400% 400%;
    animation: gradientAnimation 30s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.text-primary {
    color: #32a852 !important;
}

.bg-primary {
    background-color: #32a852 !important;
}

.btn-primary {
    background-color: #32a852 !important;
    border-color: black;
}

.btn-primary:hover {
    border-color: black;
}


/* Add hover animation for cards */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transformation */
}

.card:hover {
    transform: scale(1.05); /* Enlarges the card slightly on hover */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Adds a soft shadow effect */
}
